.intro {
  font-weight: var(--weight-bold);
}

.checklists__agree {
  font-weight: var(--weight-bold);
}

.checklists hr {
  border: 1px solid var(--color-light-gray);
}
.checklists__left {
  display: flex;
  font-size: 17px;
}

.checklists__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.checklists__box {
  width: 20px;
  height: 20px;
  background: url('/public/imgs/check-false.png') center/cover no-repeat;
  margin-right: 5px;
}

.checklists__box.active {
  background: url('/public/imgs/check-true.png') center/cover no-repeat;
}

.fourteen__up {
  width: 100%;
  height: 60px;
  background: url('/public/imgs/age-over-false.png') center/cover no-repeat;
  margin-top: 10px;
  cursor: pointer;
}

.fourteen__up.active {
  background: url('/public/imgs/age-over-true.png') center/cover no-repeat;
}

.fourteen__down {
  width: 100%;
  height: 60px;
  background: url('/public/imgs/age-under-false.png') center/cover no-repeat;
  margin-top: 10px;
  cursor: pointer;
}

.fourteen__down.active {
  background: url('/public/imgs/age-under-true.png') center/cover no-repeat;
}

.btn {
  padding: 0;
}
.next-btn {
  cursor: default;
}

.next-btn.active {
  cursor: pointer;
  background-color: var(--color-baemin);
}
