.btn-login {
  margin-bottom: 1.5rem;
}

.btns-find {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-find button {
  color: var(--color-dark-gray);
}

.btns-find p {
  width: 1px;
  height: 0.75rem;
  background-color: var(--color-dark-gray);
  margin: 0 1rem;
  margin-top: 0.125rem;
}

.join {
  text-align: center;
  margin-top: 12px;
}

.join a {
  color: var(--color-baemin);
  margin-left: 1rem;
}

.social {
  margin-top: 10rem;
}

.socialbtn {
  width: 100%;
  border: 1px solid var(--color-dark-gray);
  margin-bottom: 10px;
  height: 40px;
}

.socialbtn img{
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
