:root {
  --color-baemin: #2ac1bc;
  --color-red: #ff3333;
  --color-black: #333333;
  --color-white: #fff;
  --color-dark-gray: #bbbbbb;
  --color-light-gray: #eeeeee;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-micro-b: 12px;
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --size-border-radius: 4px;
  --animation-duration: 300ms;
}

* {
  color: var(--color-black);
}

body {
  width: 100vw;
  max-width: 25rem;
  margin: 10vh auto;
  padding: 0 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 2rem;
  position: relative;
}

 header button {
    font-size: var(--font-small);
 }

 header h1 {
   font-size: var(--font-regular);
 }

a:visited {
  color: var(--color-black);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-micro);
  font-weight: var(--font-micro);
  color: var(--color-black);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-micro);
  font-weight: var(--font-micro);
  color: var(--color-black);
  margin: 0.25rem 0;
}

label,
input,
span,
div {
  font-size: var(--font-micro);
}

.input-block {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 2.25rem;
}

.input-block .alert-text {
  position: absolute;
  bottom: -1.5rem;
  font-size: var(--font-micro-b);
  color: var(--color-red);
  display: none;
}

.input-block.alert .alert-text {
  display: block;
}

.input-btns {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  right: 0;
  padding: 1rem 0 0.5rem 0;
  column-gap: 0.5rem;
}

.input-text {
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  font-size: var(--font-micro);
  color: var(--color-black);
  border-bottom: 2px solid var(--color-light-gray);
}

.input-block.alert .input-text {
  border-color: var(--color-red);
}

.input-text::placeholder {
  color: var(--color-light-gray);
}

.input-text:focus {
  outline: none;
  border-bottom-color: var(--color-dark-gray);
}

.label-input {
  color: var(--color-dark-gray);
}

.input-text:focus + .label-input {
  color: var(--color-black);
}

.arrow-more {
  position: relative;
  width: 1rem;
  height: 100%;
} /* 수정 */

.arrow-more:before,
.arrow-more:after {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-gray);
  content: '';
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.arrow-more:before {
  transform: rotate(45deg);
  top: -0.375rem;
}/* 수정 */

.arrow-more:after {
  transform: rotate(-45deg);
  top: 0.25rem;
}/* 수정 */

.label-check {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.label-check:before,
.label-check:after {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-gray);
  content: '';
  user-select: none;
  pointer-events: none;
  position: absolute;
}

.label-check:before {
  width: 50%;
  transform: rotate(45deg);
  margin-top: 2px;
}

.label-check:after {
  transform: rotate(-45deg);
  right: calc(4px - 0.5rem);
}

.label-check.active:before,
.label-check.active:after {
  background-color: var(--color-baemin);
}

.btn {
  position:absolute;
  bottom: -130px;
  left: 0px;
  width: 100%;
  padding: 15px;
} /* 추가 */

.btn-large {
  width: 100%;
  background-color: var(--color-baemin);
  color: white;
  padding: 13px;
  border-radius: var(--size-border-radius);
}

.btn-large--gray{
  background-color: var(--color-dark-gray);
} /* 추가 */

.btn-clear {
  width: 16px;
  height: 16px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-gray);
  border-radius: 50%;
  font-weight: var(--weight-bold);
  font-size: var(--font-micro-b);
  color: var(--color-white);
  visibility: hidden;
}

.btn-clear:hover {
  background-color: var(--color-black);
}

.btn-verify:not(.btn-plain-text) {
  border: 1px solid var(--color-light-gray);
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
}

.btn-verify:not(.btn-plain-text):hover {
  border-color: var(--color-baemin);
  background-color: var(--color-baemin);
  color: var(--color-white);
}

.btn-plain-text {
  font-weight: var(--weight-bold);
  position: absolute;
  right: 0;
  width: auto;
  color: var(--color-baemin);
}

.input-text:focus + label + div .btn-clear {
  visibility: visible;
}

.grid-block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.btn-duplicate {
  color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
  border-radius: 0.25rem;
  padding: 0.3125rem;
  align-self: end;
  margin-bottom: 2.25rem;
}

.btn-duplicate:hover {
  color: var(--color-black);
}
/* main 시작 */

.category {
  display: flex;
}

.category__inner{
  display: flex;
  flex: 1;
  justify-content: center;
  border: 0.5px solid var(--color-light-gray);
  padding: 20px;
}

.category__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__item img{
  width: 25px;
  height: 25px;
  margin-bottom: 6px;
}

.category__name{
  color: var(--color-dark-gray);
  font-size: 9px;
}

.banner {
  width: 100%;
  height: 100px;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-light-gray);
}

.list__info {
  display: flex;
  align-items: center;
}

.list__info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.list__info span {
  color: var(--color-dark-gray);
}

.list__plant {
  display: flex;
  align-items: center;
}

.list__plant img{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.list__plant span{
  color: #007000
}

.newbtn__inner {
  display: flex;
  align-items: center;
}

.newbtn__inner img{
  width: 40px;
  height: 30px;
  padding: 8px;
}

.newbtn__desc {
  color: var(--color-dark-gray);
  font-size: 14px;
}

.grayborder{
  height: 8px;
  background-color: var(--color-light-gray);
}

.inner {
  position: relative;
  padding: 15px;
}

.intro {
  font-weight: var(--weight-bold);
}

.checklists__agree{
  font-weight: var(--weight-bold);
}

.checklists hr {
  border:1px solid var(--color-light-gray);
}
.checklists__left {
  display: flex;
  font-size: 17px;
}

.checklists__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.checklists__box{
  width: 20px;
  height: 20px;
  background: url("/public/imgs/체크박스_F.png") center/cover no-repeat;
  margin-right: 5px;
}

.checklists__box.active{
  background: url("/public/imgs/체크박스_T.png") center/cover no-repeat;
}

.fourteen__up {
  width: 100%;
  height: 60px;
  background: url("/public/imgs/14세이상_F.png") center/cover no-repeat;
  margin-top: 10px;
}

.fourteen__up.active {
  background: url("/public/imgs/14세이상_F.png") center/cover no-repeat;
}

.fourteen__down {
  width: 100%;
  height: 60px;
  background: url("/public/imgs/14세미만_F.png") center/cover no-repeat;
  margin-top: 10px;
}

.fourteen__down.active {
  background: url("/public/imgs/14세미만_F.png") center/cover no-repeat;
}
